@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ellipsis-dot {
  25% {
    content: "";
  }
  50% {
    content: ".";
  }
  75% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.animate-ellipsis-dot:after {
  content: "...";
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  text-align: start;
  animation: ellipsis-dot 1s infinite 0.3s;
  animation-fill-mode: fowards;
  width: 1em;
}

:root {
  --background: linear-gradient(180deg, rgba(255,128,0,1) 0%, rgba(255,186,36,1) 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply text-5xl lg:text-6xl font-bold md:leading-[3rem]
  }

  h2 {
    @apply text-4xl lg:text-5xl font-bold
  }

  h3 {
    @apply text-3xl lg:text-4xl font-bold
  }

  h4 {
    @apply text-lg lg:text-xl font-bold
  }

  html,
  body,
  #__next {
    @apply min-h-screen antialiased bg-background bg-no-repeat;
  }
}
